.todolistan{
  font-family: fantasy;
  text-align: center;
  margin-top:  100px;
}

h1{
  font-size: 4rem;
}

button{
  font-size: 1.4rem;
  font-weight: bold;
  padding: 5px 15px;
  color: greenyellow;
  border-radius: 5px;
  cursor: crosshair;
  transition: background-color 0.5s ease;
}

.add{
  background-color: rgb(15, 231, 15);
  color: black;
}
.delete{
  background-color: red;
  color: black;
}
.remove{
  background-color: red;
  color: black;
}
.clear{
  background-color: red;
  color: black;
}